<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>900443359569-hkekdiothq218jvqv8uqkhismbj406hr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.900443359569-hkekdiothq218jvqv8uqkhismbj406hr</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>900443359569-f83vnokmhev2mojbc3a6btp6h1egd2s3.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCoqLPJF2pB24mqMOITOpcRYd87rJ_mgqY</string>
	<key>GCM_SENDER_ID</key>
	<string>900443359569</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gtention.the8days.plus.flutter</string>
	<key>PROJECT_ID</key>
	<string>daysplus-f2571</string>
	<key>STORAGE_BUCKET</key>
	<string>daysplus-f2571.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:900443359569:ios:32dd39104cee4588</string>
	<key>DATABASE_URL</key>
	<string>https://daysplus-f2571.firebaseio.com</string>
</dict>
</plist>